/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* variables */
:root {
  --main_color: #004e6e;
  --section_bg: #f5f5f7;
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header ul {
  margin-top: 15px;
}

header ul li {
  display: inline-block;
}
header ul li a {
  display: block;
  color: #000;
  padding: 5px 10px;
  font-size: 17px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  border: 2px solid #fff;
  transition: transform 0.3s;
  text-decoration: none;
}

header ul li a.active {
  color: var(--main_color);
  border: 2px solid var(--main_color);
  border-radius: 20px;
}
header ul li a:hover {
  text-decoration: none;
  color: var(--main_color);
  border: 2px solid var(--main_color);
  border-radius: 20px;
  transform: scale(1.1);
}
header button {
  background-color: var(--main_color);
  padding: 5px 30px;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border-color: var(--main_color);
}
header .icon-group {
  border-right: 1px solid #b3b3b3;
  padding-right: 6px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.icon-group .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  /* background-color: #fff;
  border: 1px solid #004e6e; */
  border-radius: 7px;
  z-index: 5;
}
.icon-group .dropdown.active {
  display: block;
}
.icon-group .dropdown li {
  color: var(--main_color);
  font-size: 17px;
  display: block;
  width: 100px;
  padding: 5px 5px 5px 10px;
}

.icon-group .fa-globe {
  color: white;
  background-color: black;
  border-radius: 50%;
  border: 1px solid black;
}
header .globe {
  position: relative;
  top: -2px;
}
header .fa-bars {
  display: none;
  position: relative;
  cursor: pointer;
}
.nav-dropdown.list-group {
  display: none;
  position: absolute;
  top: 100%;
  border-radius: 7px;
  z-index: 15;
  width: 150px;
  padding: 5px;
  left: 40%;
}
.nav-dropdown.list-group.active {
  display: block;
}
@media (max-width: 992px) {
  header ul li a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  header ul {
    display: none;
  }
  header .fa-bars {
    display: block;
    position: absolute;
    right: 230px;
    /* background-color: #fff; */
    bottom: 22px;
  }
}

/* intro section  */

.intro {
  margin-top: 20px;
  position: relative;
}
.intro img {
  width: 100%;
}
.intro-content {
  position: absolute;
  top: 80px;
  left: 150px;
}
.intro-content h1 {
  font-weight: 700;

  font-size: 50px;
}
.intro-content h1.routine {
  margin-bottom: 30px;
}
.intro-content p {
  width: 50%;
  color: #6c737a;
  line-height: 1.8;
  margin-bottom: 40px;
}
.intro button {
  background-color: var(--main_color);
  padding: 5px 20px;
  color: #fff;
  margin-right: 15px;
  border-radius: 10px;
  text-transform: capitalize;
  outline: none;
  border: 2px solid var(--main_color);
  cursor: pointer;
}
.intro button.sign-up {
  background-color: #ffffff;
  color: var(--main_color);
  cursor: pointer;
}
@media (max-width: 992px) {
  .intro-content {
    position: absolute;
    top: 30px;
    left: 50px;
  }
  .intro-content h1 {
    font-weight: 700;

    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .intro {
    margin-bottom: 100px;
  }
  .intro-content {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .intro-content h1 {
    font-weight: 400;

    font-size: 30px;
  }
  .intro-content p {
    width: 100%;
    color: #6c737a;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 15px;
  }
  .intro button {
    background-color: var(--main_color);
    padding: 3px 15px;
    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
    outline: none;
    border: 2px solid var(--main_color);
    cursor: pointer;
    margin-right: 0;
    font-size: 13px;
  }
  .intro button.sign-up {
    background-color: #ffffff;
    color: var(--main_color);
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .intro {
    margin-bottom: 100px;
  }
  .intro-content {
    position: absolute;
    top: 20px;
    left: 30px;
    /* height: 70%; */
  }
  .intro-content h1 {
    font-weight: 450;

    font-size: 20px;
  }
  .intro-content p {
    width: 95%;
    color: #6c737a;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .intro button {
    background-color: var(--main_color);
    padding: 3px 15px;
    color: #fff;
    border-radius: 10px;
    text-transform: capitalize;
    outline: none;
    border: 2px solid var(--main_color);
    cursor: pointer;
    margin-right: 0;
    font-size: 13px;
  }
  .intro button.sign-up {
    background-color: #ffffff;
    color: var(--main_color);
    cursor: pointer;
  }
}

/* about-us section */

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.about .video {
  position: relative;
  top: 10px;
}

.about iframe {
  border-radius: 20px;
  position: relative;
  z-index: 10;
  width: 400px;
  height: 300px;
}

.about .content {
  flex-basis: 60%;
}
.about .content h5 {
  color: var(--main_color);
  opacity: 0.5;
  font-size: 14px;
}
.about .content .Hafs {
  color: var(--main_color);
  font-size: xx-large;
}
.about .content p {
  font-size: 13px;
  color: #3c3c3c;
  margin-top: 15px;
}
.about .content ul {
  margin-bottom: 30px;
  margin-top: 30px;
}
.about .content ul li {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
}
.about .content ul li img {
  margin-right: 8px;
}

.about .content button {
  background-color: #ffffff;
  color: var(--main_color);
  cursor: pointer;
  border-radius: 10px;
  text-transform: capitalize;
  outline: none;
  border: 2px solid var(--main_color);
  cursor: pointer;
  padding: 5px 20px;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .about iframe {
    width: 350px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .about {
    flex-direction: column;
  }
  .about iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
  }
}

/* services section */

.services {
  margin-top: 80px;
  text-align: center;
}
.services h1 {
  margin-bottom: 50px;
}

.services .title {
  color: var(--main_color);
  opacity: 0.5;
  font-size: 14px;
}
.services .Hafs {
  color: var(--main_color);
  font-size: xx-large;
}
.services .contain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.services .box {
  width: 22%;
  border: 1px solid var(--main_color);
  background-color: #fff;
  color: #000;
  padding: 15px 20px;
  border-radius: 15px;
  transition: all 0.6s;
}

.services .box h5 {
  color: var(--main_color);
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: smaller;
  font-weight: bold;
}

.services .box p {
  color: #3c3c3c;
  font-size: 14px;
}
.services .box:hover {
  background-color: var(--main_color);
  color: #fff;
  cursor: pointer;
}
.services .box:hover img {
  background-color: #fff;
  border-radius: 50%;
}
.services .box:hover h5 {
  color: #fff;
}
.services .box:hover p {
  color: #fff;
}

.services .box.active {
  background-color: var(--main_color);
  color: #fff;
}
.services .box.active h5 {
  color: #fff;
}
.services .box.active p {
  color: #fff;
}
@media (max-width: 768px) {
  .services .contain {
    flex-wrap: wrap;
  }
  .services .box {
    width: 45%;
    border: 1px solid var(--main_color);
    background-color: #fff;
    color: #000;
    padding: 15px 20px;
    border-radius: 15px;
    transition: all 0.6s;
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .services .contain {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services .box {
    width: 90%;
    border: 1px solid var(--main_color);
    background-color: #fff;
    color: #000;
    padding: 15px 20px;
    border-radius: 15px;
    transition: all 0.6s;
    margin-bottom: 15px;
  }
}
/* statistics section */

.statistics {
  margin-top: 150px;
  display: flex;
  background-image: url(../images/Group\ 4937.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.statistics .st-desc {
  width: 50%;
}
.statistics .st-desc h5 {
  color: #fff;
  opacity: 0.8;
  font-size: 14px;
}
.statistics .st-desc h1 .Hafs {
  color: var(--main_color);
  font-size: xx-large;
}
.statistics .st-desc p {
  font-size: 15px;
  line-height: 1.6;
}

.statistics .st-rate {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistics .st-rate .box {
  text-align: center;
}
.statistics .st-rate .box img {
  height: 80px;
  width: 80px;
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: #292828;
}
.statistics .st-rate .box div {
  font-size: larger;
  font-weight: 800;
  margin-bottom: 8px;
}
.statistics .st-rate .box div.sixk {
  position: relative;
  right: 7px;
}

.statistics .st-rate .box p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  .statistics {
    margin-top: 150px;
    display: flex;
    background-image: url(../images/Group\ 4937.jpg);
    background-repeat: repeat-y;
    border-radius: 1px;
    color: #fff;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .statistics .st-desc {
    width: 90%;
  }
  .statistics .st-rate {
    flex-basis: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* blogs section */

.blogs {
  margin-top: 80px;
  margin-bottom: 80px;
}
.blogs h5 {
  color: var(--main_color);
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
}
.blogs h1 {
  text-align: center;
}
.blogs h1 .Hafs {
  color: var(--main_color);
  font-size: xx-large;
}
.blogs .blog-type {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.blogs .blog-type div {
  width: 150px;
  background-color: #ebeff1;
  padding: 7px 10px;
  margin-right: 15px;
  border-radius: 30px;
  transition: all 0.5s;
}
.blogs .blog-type div:hover {
  background-color: var(--main_color);
  color: #fff;
  cursor: pointer;
}

.blogs .blog-type div.active {
  background-color: var(--main_color);
  color: #fff;
}
.blogs .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blogs .content .box {
  width: 22%;
  padding: 5px;
  cursor: pointer;
  position: relative;
}
.blogs .content .box img {
  width: 100%;
}
.blogs .content .box .address {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}
.blogs .content .box div span {
  color: #619dbf;
}
.blogs .content .box p.desc {
  font-size: 13px;
  color: #3c3c3c;
  font-weight: 500;
  margin-bottom: 25px;
}
.blogs .content .box a {
  color: #004e6e;
  text-decoration: none;
}
.blogs .content .box a:hover {
  text-decoration: none;
}

.blogs .content .box a svg {
  position: relative;
  top: 1px;
  left: 3px;
  font-size: 14px;
}

.blogs .content .box .fa-star {
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-color: #ebeff1;
  padding: 5px 5px;
  border-radius: 5px;
}
.blogs button {
  background-color: #ffffff;
  color: var(--main_color);
  border: 1px solid var(--main_color);
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 30px;
  width: fit-content;
  margin: 50px auto;
  display: block;
}
.blogs button svg {
  position: relative;
  left: 15px;
  bottom: -2px;
}
@media (max-width: 1200px) {
  .blogs .content .box a {
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
}
@media (max-width: 768px) {
  .blogs .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .blogs .content .box {
    width: 47%;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }
}
@media (max-width: 600px) {
  .blogs .content .box {
    width: 90%;
    padding: 10px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    /* height: 450px; */
  }
}

/* teachers section */

.teachers {
  display: flex;
  justify-content: space-around;
  background-color: var(--section_bg);
  padding: 70px;
  border-radius: 10px;
}
.teachers .slider-parent {
  position: relative;
  width: 25%;
}
.teachers .slider-container {
  width: 100%;
  height: 300px;
}
.img-slider {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 7px;
}

.slider-container p {
  z-index: 55;
  position: absolute;

  bottom: 82px;
  left: 50%;
  transform: translateX(-50%);
  color: #004e6e;
  background-color: transparent;
  font-size: 20px;
  padding: 6px 8px;
  border-radius: 5px;
}

.num-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

#pre,
#next {
  font-size: 8px;
  padding: 12px 15px;
  border-radius: 4px;
  background-color: #004e6e;
  cursor: pointer;
}

#next:active {
  transform: translateX(4px);
}

#pre:active {
  transform: translateX(-4px);
}

#next:hover,
#pre:hover {
  background-color: #004f6e;
}

.num-container button {
  all: unset;
  color: #fff;
}

.numbers button {
  /* padding: 3px 8px; */
  border-radius: 3px;
  font-size: 20px;
  height: 2px;
  width: 20px;
  margin-right: 0;
  padding-right: 0;
  /* margin-left: 7px; */
  background-color: #04000044;
  color: #222;
  cursor: pointer;
}

.numbers button:hover {
  background-color: #004e6e !important;
  color: #fff !important;
}

.numbers button:active {
  /* padding: 6px 11px; */
  background-color: #004e6e !important;
  border: none;
}

.active-num {
  background-color: #004e6e !important;
  color: #fff !important;
}
#pre:disabled,
#next:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.teachers .desc {
  flex-basis: 55%;
}
.teachers .desc h5 {
  color: var(--main_color);
  opacity: 0.5;
  font-size: 14px;
}
.teachers .desc h1 .Hafs {
  color: var(--main_color);
  font-size: xx-large;
}
.teachers .desc .name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}
.teachers .desc .job {
  color: #3b4c68;
  font-size: 13px;
}
.teachers .desc p {
  color: #3b4c68;
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 83%;
}
.teachers .desc .i-can {
  color: #3b4c68;
  font-weight: bold;
}
.teachers .desc ul {
  margin-top: 15px;
}
.teachers .desc ul li {
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  padding-left: 20px;
  opacity: 90%;
}
.teachers .desc ul li::before {
  font-family: "Font Awesome\ 6 Free";
  content: "\f058";
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 12px;
  border-radius: 50%;
  color: var(--main_color);
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .teachers .slider-parent {
    position: relative;
    flex-basis: 30%;
  }
}
@media (max-width: 992px) {
  .teachers .slider-parent {
    position: relative;
    flex-basis: 45%;
  }
  .teachers .desc {
    flex-basis: 45%;
  }
  .teachers .slider-parent img {
    position: absolute;
    width: 100%;
    /* opacity: 0; */
    top: 170px;
  }
}
@media (max-width: 768px) {
  .teachers {
    flex-wrap: wrap;
  }
  .teachers .slider-parent {
    position: relative;
    flex-basis: 70%;
    height: 550px;
  }
  .teachers .slider-parent img {
    position: absolute;
    width: 100%;
    /* opacity: 0; */
    top: 30px;
  }
  .teachers .desc {
    flex-basis: 90%;
  }
}
@media (max-width: 600px) {
  .teachers .slider-parent {
    position: relative;
    flex-basis: 70%;
    height: 600px;
  }
  .teachers .slider-parent img {
    width: 100%;
    top: 100px;
  }
}

/* contact section  */
section.contact {
  margin-top: 80px;
}
.contact .title {
  color: var(--main_color);
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
}
.contact h1 {
  text-align: center;
}
.contact .team-chat {
  font-size: 13px;
  color: #3c3c3c;
  text-align: center;
  font-weight: 500;
  opacity: 80%;
}
.contact .contact-ways {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.contact-ways .box {
  padding: 20px 10px 20px 40px;
  border: 2px solid #afcedf;
  border-radius: 15px;
  width: 30%;
}
.contact-ways .box img {
  display: block;
  margin-bottom: 10px;
}
.contact-ways .box h5 {
  font-weight: bold;
}
.contact-ways .box p {
  font-size: 12px;
  color: #3c3c3c;
}
.contact-ways .box div {
  font-size: 14px;
  font-weight: 500;
  color: #001d29;
}
.contact-data {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.contact-data .user-details {
  width: 40%;
}

.contact-data .user-details label {
  font-size: 14px;
  font-weight: 500;
}
.contact-data .user-details input,
.contact-data .user-details textarea {
  padding: 7px;
  outline: none;
  border: 2px solid #91a9b766;
  width: 100%;
  border-radius: 10px;
}
textarea {
  height: 125px;
}
.contact-data .user-details button {
  background-color: var(--main_color);
  padding: 5px 30px;
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border-color: var(--main_color);
  margin-top: -5px;
}
.contact-data img {
  width: 100%;
}
@media (max-width: 1200px) {
  .contact-data .user-details {
    width: 48%;
  }
  .contact-data .image {
    /* width: 50%; */
    padding: 15px;
  }
}
@media (max-width: 768px) {
  .contact .contact-ways {
    display: flex;
    /* flex-direction: column; */
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact .contact-ways .box {
    flex-basis: 90%;
    margin-bottom: 20px;
  }
  .contact-data {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-data .user-details {
    width: 90%;
    margin-bottom: 20px;
  }
}
/* footer */

footer {
  margin-top: 80px;
  background-color: #00374e;
}
footer .content {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
footer .content .logo {
  width: 40%;
}
footer .content .logo p {
  font-size: 14px;
  opacity: 78%;
  padding-right: 30px;
  margin-top: 30px;
  color: #fff;
  margin-bottom: 0;
}
footer .links {
  width: 20%;
}
footer .links .head {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .links li {
  font-weight: 400;
  color: #fff;
}
footer .links li a {
  color: #fff;
  text-decoration: none;
}
footer .links li a:hover {
  text-decoration: none;
}
footer .links li:not(:last-child) {
  margin-bottom: 15px;
}
footer .subscribtion {
  width: 30%;
}
footer .subscribtion h4 {
  color: #fff;
}
footer input {
  padding: 9px 10px;
  outline: none;
  border: 2px solid #91a9b766;
  border-radius: 7px;
  background-color: #00374e;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 65%;
}
footer input::placeholder {
  color: #fff;
  opacity: 50%;
  font-size: 13px;
}
footer button {
  background-color: #ffffff;
  color: var(--main_color);
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 7px;
}
footer .subscribtion p {
  color: #fff;
  font-size: 14px;
  opacity: 80%;
  margin-top: 10px;
}
footer .icons {
  width: 90%;
  display: flex;
  margin-top: 40px;
  gap: 30px;
}
footer .icons svg {
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
footer .hr {
  color: #fff;
  height: 0.5px;
  background-color: #fff;
  opacity: 50%;
}
footer .container > p {
  color: #ebeff1;
  text-align: center;
  padding: 13px;
  opacity: 70%;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  footer .content {
    display: flex;
    /* justify-content: space-between; */
    padding: 30px 20px;
    flex-wrap: wrap;
  }
  footer .content .logo {
    width: 90%;
    margin-bottom: 40px;
  }
  footer .content .links {
    width: 90%;
    margin-bottom: 40px;
  }
  footer .content .subscribtion {
    width: 90%;
    margin-bottom: 40px;
  }
}
.slidering {
  text-align: center;
  width: 30%;
  margin: auto;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}
